body {
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

#p5js-container {
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

#hydra-container {
  width: 100vw;
  height: 100vh;
}

#hydra-canvas {
  width: 100%;
  height: 100%;
}

